<ul class="breadcrumb">
  <li><a href="#/">Routes</a> <span class="divider">/</span></li>
  <li>{{route.name}}</li>
</ul>
<table  class="table table-striped">
  <tr>
    <th>cast</th>
    <th>Time</th>
    <th>Start</th>
    <th>End</th>
    <th>Instructions</th>
    <th>Notes</th>
  </tr>
  <tr ng-repeat="step in route.steps | filter : search" >
    <td>{{step.cast}}</td>
    <td>{{step.startTime}}</td>
    <td>{{step.startMile/10}}</td>
    <td>{{step.endMile/10}}</td>
    <td>{{step.instruction}}</td>
    <td>{{step.notes}}</td>
  </tr>

</table>

<button class="btn btn-success" ng-click="addStep()">Add A Step</button>